base-color = #152131
body
    font-size 20px
body,div
    margin 0
    padding 0
    background #ffef5e

.border
    border 1px solid base-color 
.main
    position relative
    width 700px
    margin 50px auto
    // height 300px
    // background #123
.wanzi
    position absolute
    top 250px
    left 100px
    z-index 10
    .hairs
       background base-color 
       width 190px
       height 250px
       left -30px
       top -50px
       position absolute
       border-radius 50% 50% 0 0
       overflow hidden
       &:after
            content ''
            position absolute
            width 300px
            height 200px
            background #ffef5e
            top 120px
    .hair
        width 35px
        height 45px
        background base-color 
        position absolute
        z-index 1
        transform rotate(50deg) scale(1) skew(44deg) translate(8px)
        &.hair1 
            top 17px
            left 27px
        &.hair2
            top 8px
            left 52px
        &.hair3
            top 4px
            left 73px
        &.hair4
            top 0
            left 90px
        &.hair5 
            top 4px
            left 108px
        &.hair6
            top 8px
            left 125px
        &.hair7
            top 17px
            left 17px
    .face
        background #FBDAC7
        width 130px
        height 110px
        position absolute
        top 0
        border-radius 20px 20px 50px 50px
        border 1px solid 
        .brow
            width 42px
            height 1px
            background base-color
            position absolute
            top 28px
            border-radius 50%
            &.left-brow
                left 18px
                transform: rotate(-10deg)
            &.right-brow
                right 14px
                transform: rotate(10deg)
        .eye
            width 14px
            height 14px
            background black
            position absolute
            top 38px
            z-index 2
            border-radius 50%
            &.left-eye
                left 32%
                transform: rotate(-10deg)
            &.right-eye
                right 32%
                transform: rotate(10deg)
        .mouth
            border 1px solid #152131;
            width 30px
            height 30px
            left 38%
            background #D96B6E
            position absolute
            top 58px
            z-index 2
            border-radius 50%
            transform: rotate(90deg)
            &:after
                content ''
                position absolute
                width 24px
                height 43px
                background #FBDAC7
                top -7px
                left -5px
                transform: rotate(0deg)
        .ear
            width 10px
            height 20px
            background  #FBDAC7
            position absolute
            top 40px
            z-index 2           
            // right -11px
            &.left-ear
                border-radius: 5px 0 0 10px;
                left -11px
               
            &.right-ear
                border-radius 0 5px 10px 0
                right -11px
                //transform: rotate(0deg)
        .blusher
            width 14px
            height 14px
            background #F79C99
            position absolute
            top 71px
            z-index 2
            border-radius 50%
            left: 3px
            &.left-blusher
                left 112px
                transform: rotate(-10deg)
    &.right-blusher               
        right 32%
        transform: rotate(10deg)
    &:after 
        content ""
        width 14px
        height 14px
        background #fbdac7
        position absolute
        bottom -12px
        left 64px
        top 111px
        margin-left: -7px;
        border 1px solid #152131
   .clothes
        background #fff
        width 70px
        height 80px
        position absolute
        top 126px
        left 29px
        z-index 2
        border-radius 30% 30% 10px 10px
        overflow hidden
        border 1px solid #152131
        .collar
            width 10px
            height 20px
            background  #fff
            position absolute
            top 40px
            z-index 2           
            // right -11px
            &.left-collar
                z-index 3
                position absolute
                border 1px solid #152131
                width 20px
                height 10px
                background #fff
                top 3px
                left 6px
                transform rotate(50deg)          
            &.right-collar
                z-index 3
                position absolute
                border 1px solid #152131
                width 20px
                height 10px
                top 3px
                left 40px
                background #fff 
                transform rotate(-50deg)   
        .straps
            width 10px
            height 20px
            background  #E9003A
            position absolute
            top 40px
            z-index 2           
            // right -11px
            &.left-straps
                z-index 2
                position absolute
                border 1px solid #152131
                width 112px
                height 6px
                background #E9003A
                top 3px
                left 1px
                transform rotate(91deg)          
            &.right-straps
                z-index 2
                position absolute
                border 1px solid #152131
                width 112px
                height 6px
                top 3px
                left -46px
                background #E9003A
                transform rotate(91deg)   
    .belt
        width 70px
        height 10px
        background  #E9003A
        position absolute
        top 189px
        left 29px  
        z-index 2
        border 1px solid
    .arm
        width 126px
        height 70px
        border-radius 50%
        background #fff
        border 1px solid #152131
        z-index 1
        position absolute
        top 130px
        z-index 0
        &:after
            content ""
            position absolute
            background #ffef5e
            width 91px
            height 60px
            left 18px
            top 5px
            border-radius 50%
            border 1px solid #152131
    .skirt
        background #ed023a
        background none
        border-color #e9003a transparent
        -webkit-border-image none
        -o-border-image none
        border-image  none
        border-style solid
        border-width 0px 30px 50px
        height 0
        left -1px
        position absolute
        top 201px
        width 72px
        z-index 3
        border-radius 0 0 50% 50%
        .line
            width 1px
            height 30px
            position absolute
            background #000
            top 10px
            -webkit-transform-origin 0 0
            -ms-transform-origin 0 0
            transform-origin 0 0
            &.line1
                left 10px
                transform rotate(25deg)
            &.line2
                left 23px
                transform rotate(18deg)
            &.line3
                left 36px
                transform rotate(3deg)
            &.line4
                left 48px
                transform rotate(-15deg)
            &.line5
                left 61px
                transform rotate(-33deg)

.granda .hairs
    background #fff




