#canvas {
    width: 200px;
    height: 200px;
    border: 1px solid;
    text-align: center;
    padding: 100px;
}

#bag {
    width: 200px;
    height: 500px;
    margin: 0 auto;
    background: red;
    background-size: 80%;
}

#bag-health {
    width: 200px;
    border: 2px solid black;
    margin: 0 auto 20px auto;
}

#bag-health div {
    height: 20px;
    background: crimson;
}

#controls {
    width: 200px;
    margin: 0 auto;
}

#controls button {
    margin-left: 20px;
}

#bag.burst {
    background: blue;
}